/* @override http://localhost/etours/css/index.css */
@font-face{
	font-family: open sans;
	src: url(fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face{
	font-family: Averia Libre;
	src: url(fonts/Averia_Libre/AveriaLibre-Regular.ttf)
}
/* GENERIC STYLE*********************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************/
.blue{ background-color: rgba(0,83,146,1); }
.white{ background-color: rgba(254,255,255,0.95); }
.inline-block{ display: inline-block; }
.no-list-style{ list-style-type: none; }
.no-text-decoration{ text-decoration: none }
.left-align{text-align:left}
.right-align{text-align:right}
.center{ margin: 0 auto; }
.no-pad{ padding:0px; }
.no-margin{ margin:0px; }
.banner-width{ width: 23.75%; }
.float-left{ float: left; }
.left-aside{ width:20%;}
.right-aside{ width:20%; }
.error{color:red; }
.spacer{ clear: both; }
.no-left-pad{ padding-left:0px;}
.capitalize{ text-transform: capitalize; }
.no-border{	border: none}
.checkmark{
	list-style-type: none;
	padding-left: 10px;	
}

.center-align{
	text-align: center;
}
	
.bdr-btm{
	border-bottom:1px dotted #00a500;
}
.nine-em{ 
	font-size: .9em; 
	color: #424242;
}
.small-grey{
	color: #a9a9a9;
	font: .75em "open sans";
}

.mid-grey{
	color: #797979;
	font: .8em "open sans";
}
.large-grey{
	color: #5e5e5e;
	font: .9em "open sans";
}
.checkmark li:before{ 
	content: "\2713\0020";
	color: #00a500;
	padding-right: .3em;	
	font-weight: bold;
}

.xmark li:before{	
	content: "\2717";
	padding-right: .3em;
	color: #ff2600;
	font-weight: bold;
}

.doubleArrow li:before{ 
	content: "\00BB";
	padding-right: .3em;	
}

.rounded-corners{
	-mozkit-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
}

h2{
	color: #925000;
	font-size: 1.2em;
}

/* NAV AND HEADER *****************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************/

body{
	font: 1em/1.4em "open sans", "Lucida Grande", sans-serif;
	background-color:#F5F5F5;
}

header{
	height: 95px; 
	font-size: .9em
}

.logo {	
	position: relative;
	top: 10px;
	left: 10px;
	margin:0 0 15px 0;
	width:100%;
	height: 75px;
	background: url(/images/etours-davao-logo.svg) no-repeat 1px;
}

/* NAVIGATION ********************************************************************
**********************************************************************************
**********************************************************************************/
.menu-nav{
	display: inline-block;
	list-style-type: none;
	margin:0px 0px 0px 0px;
}

nav{
	background-color: #FF9900;
	width: 99%;
	position:relative;
	margin:0 auto;
}

nav a {
	font: 1em/1.4em "Averia Libre", "Lucida Grande", sans-serif;
	display: block;
	height:25px;
	padding: 5px 15px 5px 15px;
	color: #feffff;
}

nav a:hover { 
	background-color: #0096ff; 
	color: #fff;
}

/* BODY ***************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************/
.title{
	border-top: 1px dotted #d5d5d5;
	border-bottom: 1px dotted #d5d5d5;
	padding:15px 5px 15px 5px;
	font-size: 32px;
	line-height: 32px;
	text-transform: capitalize;
	margin: 0;
	color: #009900;
}

.header{
	font-weight: normal;
	font-style: normal;
	margin: 0;
	font-size: .8em;
	color: #005392;
}

.left-nav{
	position: relative;
	margin-left: 5px;
	width:93%;
}
.on-this-page{
	margin: 0;
	border-bottom: 1px dotted #d5d5d5;
	font-size: .8em;
}

#wrapper{
	position: relative;
	width: 960px;
	background-color:white;
}

/* INDEX.PHP **********************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************
***********************************************************************************/
#search{
	position:absolute;
	right: 2%;
	top: 30px;
	font-size: .95em;
}
#left{
	width: 594px;
	height:200px;
	float: left;
	position:relative;
}
#right {
	float:right;
	width: 365px;
}
#premium1{
	position:relative;
	width: 574px;
	min-height: 366px;
	margin-left: 10px;
	cursor:pointer;
}
#premium1 img,#premium2 img,#premium3 img,#premium4 img{
	border-radius:2px;
}

#slides a .fa-chevron-circle-right{
	position: absolute;
	z-index:99;
	top: 50%;
	right: 5%;
}

#slides a .fa-chevron-circle-left{
	position: absolute;
	z-index:99;
	top: 50%;
	left: 5%;
}

#premium-package-name{
	position:absolute;
	height: 75px;
	z-index:20;
	bottom: 2;
}

#premium1 h2{
	margin:0;
}

#premium1 h2 a:link{
	display:block;
	color: #feffff;
	font-size: 1.3em;
	line-height: 1.2em;
	padding:10px;
	background-color: rgba(255,147,0,0.90);
	text-shadow: #414141 1px 1px 1px;
}

#premium1 h2 a:visited{
	color: #feffff;
}
.fa-chevron-circle-right,.fa-chevron-circle-left {
	color: white;
}

#second{
	margin-left: 10px;
	margin-top: 10px;
	position:relative;	
}

#second h2{
	margin:0;
	position:absolute;
	bottom: 0;
	padding: 2px 2px 2px 10px;
	text-shadow: #414141 1px 1px 1px;
	background-color: rgba(0,124,213,0.8);
}

#second h2 a:link{
	color:white;
	font-size: .75em;
	font-weight: bold;
}

#second h2 a:visited{
	color:white;
}
#premium2{
	position:relative;
	float:left;
	width: 280px;
	min-height: 170px;
	cursor:pointer;	
}

#premium3{
	position:relative;
	float:right;
	margin-right: 10px;
	width: 280px;
	min-height: 170px;
	cursor:pointer;	
}

#premium4{
	margin-left: 5px;
	width: 346px;
	min-height: 226px;
}

/* */
.index-headers{
	margin:0px;
	color: #00a500;
	font-size: 14px;
	border-top: 1px dotted #c0c0c0;
	border-bottom: 1px dotted #c0c0c0;	
}

#right2 {
	margin-left: 5px;
	background-color: rgba(214,214,214,0.2);
	width: 346px;
}
.index-package {
	padding:10px;
	position: relative;
	min-height:75px;
	background-color: white;
	margin-top:10px;
	border-radius:2px;
	border: 1px solid #0096ff;
}

.index-package:hover {
	background-color: rgba(255,212,120,0.2);
	cursor:pointer;
}

.index-thumb {
	position: absolute;
	top: 17px;
	border-radius:2px;
	width:75px;
}
.index-package h3 {
	left:80px;
	margin: 0px;
	background-color: none;
}

.index-name {
	margin:0;		
	position: relative;
	left:80px;
	color: #007cd5;
	font-size: .70em;
	background-color: none;
	line-height: 1.3em;
	max-width: 250px;
	display: block;
}
.index-desc {
	margin:0;
	position: relative;
	width: 250px;
	left:80px;		
	font-size: .70em;
	color: #424242;
	line-height: 1.5em;
}
#third{
	margin:15px 0 0 10px;
}

#third h3{
	position:relative;
	width: 182;
	float: left;
	border-radius:2px;
	margin-right: 10;
	height:132px;
	background-color: #ffd478;
	padding: 0;
	margin-top: 0;
	cursor:pointer;

}

#third div{
	margin:10px 0 10px 5px;
}

#third a{
	font-size: .72em;
	padding-bottom:5px ;
	margin: 0 auto;
	display:block;
	width: 100%;
	min-height:33px;
	text-align: center;
	line-height: 1.3em;
	position:absolute;
	bottom: 0;
	text-shadow: #414141 1px 1px 1px;
	background-color: rgba(0,124,213,0.8);
}
#third a:link{
	color: #feffff;
}

#third a:visited{
	color: #feffff;
}

#footer{
	margin: 20px 0;
	background-color: rgba(255,212,120,0.73);
	padding:10 10px;
	border-bottom-right-radius:5;
	border-bottom-left-radius:5;
}
.footercol{
	width:302px;
	float:left;
}

.footercol:nth-child(3){
	margin: 0 15px;
}
#footer h3{
	padding:5px;
	margin: 2px 0;
}
.index-list:link{
	display:block;
	color: #424242;
	font-size: .55em;
	font-weight: normal;
	font-style: normal;
	line-height: 1.2em;
	text-shadow: #797979 0 0 0;
}

.index-list:visited{
	color: #424242;
}

.index-list:hover{
	color: #ff9300;
}

.h2-title{
	margin:0px;
	color: #935100;
	font-size: .8em;
}